<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Recipes</title>
  <link rel="stylesheet" href="/css/recipes.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>
  <%- include('partials/header') %>

  <div class="container">
    <h1>Recipes</h1>


    <form method="GET" action="/recipes" class="search-bar">
      <input type="text" name="search" placeholder="Search Here" value="<%= searchQuery || '' %>">
      <button type="submit" class="btn">Search</button>
    </form>
    

    <!-- Flash messages for success/failure -->
    <% if (message) { %>
      <div class="alert <%= message.type %>">
        <%= message.text %>
      </div>
    <% } %>

    <div class="actions">
      <% if (isAdmin) { %>
        <a href="/recipes/new" class="btn">Add Recipe</a>
      <% } %>
    </div>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Cuisine</th>
          <th>Meal Type</th>
          <th>View</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% recipes.forEach(recipe => { %>
          <tr>
            <td><%= recipe.name %></td>
            <td><%= recipe.cuisine %></td>
            <td><%= recipe.mealType %></td>
            <td><a href="/recipes/view/<%= recipe._id %>" class="btn">View</a></td>
            <td>
              <a href="/recipes/<%= recipe._id %>/reviews" class="btn">Review</a>

              <% if (isAdmin) { %>
                <a href="/recipes/edit/<%= recipe._id %>" class="btn">Edit</a>
                <form action="/recipes/<%= recipe._id %>/delete" method="POST"  style="display:inline;">
                  <button type="submit" class="btn" onclick="return confirmDelete()">Delete</button>
                </form>
              <% } %>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

  <%- include('partials/footer') %>
  <script>
    function confirmDelete() {
      return confirm('Are you sure you want to delete this recipe?');
    }
  </script>
</body>
</html>
